
# Created by https://www.gitignore.io/api/vim

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Custom

build

# tools
.ycm_extra_conf.py*
.lvimrc
.agignore

todo/todo.sh
todo/todo.cfg

.ipynb_checkpoints

